
body{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
    background-color: white;
    color: #D7A988;
    font-size: 22px;
}

h1 {
    text-align:center;
    grid-column: 2;
    grid-row-start: 1;

}

.loginPic{
    grid-column: 1;
    grid-row: 1;
    margin: 2%;
    margin-top: 250px;
}

.photo{
    grid-row: 1;
    width: 100%;
    margin-top: -15%;
}

.rightBlock{
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #4D2119;
    width: 100%;
    margin-bottom: -150px;
}

.container{
    grid-row: 1;
    grid-column: 2;
    width:90%;
    margin: 6%;
    margin-top: 200px;
    background-color: #5C321F;
    border-radius: 8px;
}
